// Colors

// Primary

$clr-drk-cy: #19a2ae;
$clr-vdrk-bl: #2d303b;
$clr-gry-bl: #6a6c75;

// Neutral

$clr-drkg-gry: #969696;

// Typographic

$fs-bdy: 1.125rem;
$ff: 'Kumbh Sans', sans-serif;
$fw-rgl: 400;
$fw-bld: 700;
